http:
  routers:
    router-{{ item.key }}:
      entryPoints:
        - websecure
      rule: "Host(`{{ item.key }}.{{ ansible_hostname}}.{{ ansible_domain }}`)"
      service: "svc-{{ item.key }}"
{% if item.key in tasmota_hosts %}
      middlewares:
        - "authelia@docker"
        - "ws-header@file"
{% else %}
      middlewares:
        - "ws-header@file"
{% endif %}
  services:
    svc-{{ item.key }}:
      loadBalancer:
        servers:
          - url: "{{ item.value.scheme }}://{{ item.value.ip }}:{{ item.value.port }}"
        passHostHeader: true
