watch:
  workers: 10
  schedule: 30 */4 * * *
  jitter: 0
  firstCheckNotif: true

notif:
  ntfy:
    endpoint: http://localhost
    topic: container
    priority: 3
    tags:
      - whale
    timeout: 10s
    templateTitle: "{{ .Entry.Image.Path }}"
    templateBody: |
      Nouvelle image pour le container {{ .Entry.Metadata.ctn_names }} ! Mise à jour prévue pour demain 06h00.
