bind_address=""
listen_port=5000
proxyprotocol_port=0
# Server location
server_lat={{ speedtest_lat }}
server_lng={{ speedtest_lon }}

# assets directory path, defaults to `assets` in the same directory
assets_path="/app/assets"

redact_ip_addresses=true

# database type for statistics data, currently supports: none, memory, bolt, mysql, postgresql
# if none is specified, no telemetry/stats will be recorded, and no result PNG will be generated
database_type="none"

# TLS and HTTP/2 settings. TLS is required for HTTP/2
enable_tls=false
enable_http2=false
