---
theme: grey

log:
  level: info

server:
  address: 'tcp4://:9091'
  buffers:
    write: 4096
    read: 4096
  endpoints:
    enable_pprof: false
    enable_expvars: false
  disable_healthcheck: true

identity_validation:
  reset_password:
    jwt_secret: {{ vault_authelia_jwt_secret }}

authentication_backend:
  password_reset:
    disable: true
  refresh_interval: 5m
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 1
      key_length: 32
      salt_length: 16
      memory: 1024
      parallelism: 8

access_control:
  default_policy: one_factor
  rules:
    - domain: "auth.{{ ansible_hostname}}.{{ ansible_domain }}"
      policy: bypass
    - domain: "*.{{ ansible_hostname}}.{{ ansible_domain }}"
      policy: one_factor

session:
  name: 'authelia_session'
  same_site: 'lax'
  secret: '{{ vault_authelia_session_secret }}'
  expiration: '384 hour'
  inactivity: '383 hour'
  remember_me: '384 hour'
  cookies:
    - domain: '{{ ansible_hostname}}.{{ ansible_domain }}'
      authelia_url: 'https://auth.{{ ansible_hostname}}.{{ ansible_domain }}'

regulation:
  max_retries: 3
  find_time: 10m
  ban_time: 12h

storage:
  local:
    path: /config/db.sqlite3
  encryption_key: {{ vault_authelia_storage_ek }}
  
notifier:
  disable_startup_check: false
  filesystem:
    filename: '/config/notification.txt'

telemetry:
  metrics:
    enabled: true

