users:
  tanki:
    displayname: "Tanki"
    password: "$argon2id$v=19$m=1024,t=1,p=8$cDZXQk5kVFVLUERHRUdKag$wN1y1rx+nGKA9/y7cCaX8X726Ukm507+oxZ5twLycQw"
    email: 'tanki@{{ ansible_hostname }}.{{ ansible_domain }}'
    groups:
      - Admin
