log-format: json
log-level: error
base-url: "https://ntfy.{{ ansible_hostname }}.{{ ansible_domain }}"
cache-file: "/var/cache/ntfy/cache.db"
cache-duration: "48h"
attachment-cache-dir: "/var/cache/ntfy/attachments"
attachment-total-size-limit: "1G"
attachment-file-size-limit: "15M"
attachment-expiry-duration: "48h"
visitor-attachment-total-size-limit: "100M"
visitor-attachment-daily-bandwidth-limit: "500M"
behind-proxy: true
