global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:

rule_files:

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
        labels:
          hote: "{{ ansible_hostname }}"

  - job_name: "{{ ansible_hostname }}"
    static_configs:
      - targets: ["{{ net_gateway }}:9100"]
        labels:
          hote: "{{ ansible_hostname }}"

  - job_name: "podman"
    static_configs:
      - targets: ["localhost:9882"]
        labels:
          hote: "{{ ansible_hostname }}"

  - job_name: "traefik"
    static_configs:
      - targets: ["{{ utils_inet }}:8080"]
        labels:
          hote: "{{ ansible_hostname }}"

  - job_name: "authelia"
    static_configs:
      - targets: ["{{ utils_inet }}:9959"]
        labels:
          hote: "{{ ansible_hostname }}"
