<!DOCTYPE html>
<!-- resources icones : https://icones.js.org -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="./imgs/favicon.svg">
        <title>ZonMai</title>
        <script defer>
            document.addEventListener("DOMContentLoaded", function() {
              document.getElementById("crt").addEventListener("click", function(event) {
                if (!(event.ctrlKey && event.altKey)) {
                  event.preventDefault();
                }
              });
            });
        </script>
        <style>
            @media (orientation: landscape) {
              button {
                width: 48%;
              }
              button img{
                margin-left: 28%;
              }
              button span{
                margin-right: 28%;
              }
              div {
                width: 42%;
              }
            }

            @media (orientation: portrait) {
              button {
                width: 90%;
              }
              button img{
                margin-left: 25%;
              }
              button span{
                margin-right: 25%;
              }
              div {
                width: 80%;
              }
            }

            @media (prefers-color-scheme: dark) {
              body {
                background-image: url('./imgs/dunes.webp');
                background-color: #242424;
              }
            }

            @media (prefers-color-scheme: light) {
              body {
                background-image: url('./imgs/dunes.webp');
                background-color: #f2f2f2;
              }
            }

            body{
                margin: 0;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
                min-height: 100vh;
                height: 100%;
                width: 100%;
                font-family: sans-serif;
            }

            h4{
                text-align: left;
                margin:9px;
                margin-left: -3px;
                font-size: 1.15rem;
                font-weight: 400;
                border-bottom: 1px solid;
                padding-bottom: 5px;
            }

            button{
                display: inline-flex;
                border:0;
                border-radius:0.4rem;
                color:#faffff;
                font-size:1.1rem;
                font-weight:505;
                -webkit-transition-duration:0.4s;
                transition-duration:0.4s;
                cursor:pointer;
                height:50px;
                margin:5px;
                box-shadow:
                  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                  0 12.5px 10px rgba(0, 0, 0, 0.06),
                  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                  0 100px 80px rgba(0, 0, 0, 0.12)
                ;
            }

            button img{
                margin-top: auto;
                margin-bottom: auto;
            }

            img{
                width: 24px;
                height: 24px;
            }

            button span{
                margin-top: auto;
                margin-bottom: auto;
                flex-grow: 1;
                text-align: right;
            }

            h4 img{
                margin-right: 10px;
                margin-left: -24px;
                vertical-align: bottom;
            }

            a{
                color: #f39c12;
                text-decoration: none;
                cursor: text;
            }

            div{
                padding-left: 4px;
                margin: auto;
                padding-top: 30px;
                padding-bottom: 30px;
                text-align: center;
            }

            .btn-blu{
                background:#1fa3ec;
            }

            .btn-blu:hover{
                background:#0e70a4;
            }

            .btn-red{
                background:#d43535;
            }

            .btn-red:hover{
                background:#931f1f;
            }

            .btn-grn{
                background:#47c266;
            }

            .btn-grn:hover{
                background:#5aaf6f;
            }
            .btn-ylw{
                background:#f39c12;
            }

            .btn-ylw:hover{
                background:#e08e0b;
            }
        </style>
    </head>
    <body>
        <div>
            <h4 style='color:#d43535;'><img src="./imgs/admin.svg">Admin</h4>
{% if 'pihole' in redir_hosts %}
            <button class='button btn-red' onClick="window.open('https://{{ pihole_sub }}/admin/','_blank')"><img src="./imgs/pihole.svg" /><span>PiHole</span></button>
{% endif %}
{% if 'cockpit' in redir_hosts %}
            <button class='button btn-red' onClick="window.open('https://{{ cockpit_sub }}','_blank')"><img src="./imgs/cockpit.svg" /><span>Cockpit</span></button>
{% endif %}
{% if 'kluster' in redir_hosts %}
            <button class='button btn-red' onClick="window.open('https://{{ kluster_sub }}','_blank')"><img src="./imgs/proxmox.svg" /><span>Kluster</span></button>
{% endif %}
{% if 'wrt' in redir_hosts %}
            <button class='button btn-red' onClick="window.open('https://{{ wrt_sub }}','_blank')"><img src="./imgs/wrt.svg" /><span>TankiWRT</span></button>
{% endif %}
            <h4 style='color:#1fa3ec;'><img src="./imgs/services.svg">Services</h4>
{% if 'backup' in redir_hosts %}
            <button class='button btn-blu' onClick="window.open('https://{{ backup_sub }}','_blank')"><img src="./imgs/backrest.svg" /><span>Backrest</span></button>
{% endif %}
{% if 'calibre' in redir_hosts %}
            <button class='button btn-blu' onClick="window.open('https://{{ calibre_sub }}','_blank')"><img src="./imgs/calibre.svg" /><span>Calibre</span></button>
{% endif %}
{% if 'dozzle' in redir_hosts %}
            <button class='button btn-blu' onClick="window.open('https://{{ dozzle_sub }}','_blank')"><img src="./imgs/dozzle.svg" /><span>Dozzle</span></button>
{% endif %}
{% if 'notes' in redir_hosts %}
            <button class='button btn-blu' onClick="window.open('https://{{ notes_sub }}','_blank')"><img src="./imgs/notes.svg" /><span>FlatNotes</span></button>
{% endif %}
{% if 'git' in redir_hosts %}
            <button class='button btn-blu' onClick="window.open('https://{{ git_sub }}','_blank')"><img src="./imgs/git.svg" /><span>Forgejo</span></button>
{% endif %}
{% if 'grafana' in redir_hosts %}
            <button class='button btn-blu' onClick="window.open('https://{{ grafana_sub }}','_blank')"><img src="./imgs/grafana.svg" /><span>Grafana</span></button>
{% endif %}
{% if 'hassio' in redir_hosts %}
            <button class='button btn-blu' onClick="window.open('https://{{ hassio_sub }}','_blank')"><img src="./imgs/hassio.svg" /><span>HomeAssistant</span></button>
{% endif %}
{% if 'kodi' in redir_hosts %}
            <button class='button btn-blu' onClick="window.open('https://{{ kodi_sub }}','_blank')"><img src="./imgs/kodi.svg" /><span>Kodi</span></button>
{% endif %}
{% if 'moode' in redir_hosts %}
            <button class='button btn-blu' onClick="window.open('https://{{ moode_sub }}','_blank')"><img src="./imgs/moode.svg" /><span>moOde</span></button>
{% endif %}
{% if 'nas' in redir_hosts %}
            <button class='button btn-blu' onClick="window.open('https://{{ nas_sub }}','_blank')"><img src="./imgs/nas.svg" /><span>MozafoNAS</span></button>
{% endif %}
{% if 'navidrome' in redir_hosts %}
            <button class='button btn-blu' onClick="window.open('https://{{ navidrome_sub }}','_blank')"><img src="./imgs/navidrome.svg" /><span>Navidrome</span></button>
{% endif %}
{% if 'ntfy' in redir_hosts %}
            <button class='button btn-blu' onClick="window.open('https://{{ ntfy_sub }}','_blank')"><img src="./imgs/ntfy.svg" /><span>Ntfy</span></button>
{% endif %}
{% if 'speed' in redir_hosts %}
            <button class='button btn-blu' onClick="window.open('https://{{ speed_sub }}','_blank')"><img src="./imgs/speed.svg" /><span>SpeedTest</span></button>
{% endif %}
{% if 'vault' in redir_hosts %}
            <button class='button btn-blu' onClick="window.open('https://{{ vault_sub }}','_blank')"><img src="./imgs/vault.svg" /><span>VaultWarden</span></button>
{% endif %}
{% if enable_mqtt|bool %}
            <h4 style='color:#47c266;'><img src="./imgs/tasmota.svg">Tasmota</h4>
{% if 'ball' in redir_hosts %}
            <button class='button btn-grn' onClick="window.open('https://{{ ball_sub }}','_blank')"><img src="./imgs/ball.svg" /><span>Ball</span></button>
{% endif %}
{% if 'fenetre' in redir_hosts %}
            <button class='button btn-grn' onClick="window.open('https://{{ fenetre_sub }}','_blank')"><img src="./imgs/fenetre.svg" /><span>Fenêtre</span></button>
{% endif %}
{% if 'kino' in redir_hosts %}
            <button class='button btn-grn' onClick="window.open('https://{{ kino_sub }}','_blank')"><img src="./imgs/kino.svg" /><span>Kino</span></button>
{% endif %}
{% if 'raspi' in redir_hosts %}
            <button class='button btn-grn' onClick="window.open('https://{{ raspi_sub }}','_blank')"><img src="./imgs/raspi.svg" /><span>Raspi</span></button>
{% endif %}
{% if 'rocket' in redir_hosts %}
            <button class='button btn-grn' onClick="window.open('https://{{ rocket_sub }}','_blank')"><img src="./imgs/rocket.svg" /><span>Rocket</span></button>
{% endif %}
{% if 'tivi' in redir_hosts %}
            <button class='button btn-grn' onClick="window.open('https://{{ tivi_sub }}','_blank')"><img src="./imgs/tivi.svg" /><span>Tivi</span></button>
{% endif %}
{% endif %}
            <h4 style='color:#f39c12;'><img src="./imgs/cert.svg" /><a href="ca.crt" id="crt" download>Sécurité</a></h4>
            <button class='button btn-ylw' onClick="window.open('https://{{ traefik_sub }}','_blank')"><img src="./imgs/traefik.svg" /><span>Traefik</span></button>
            <button class='button btn-ylw' onClick="window.open('https://{{ auth_sub }}','_blank')"><img src="./imgs/auth.svg" /><span>Authelia</span></button>
        </div>
    </body>
</html>
